.progress {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.bar {
    width: 50%;
    height: 3px;
    background-color: #22ab92;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loader-bar {
    border: 16px solid #f3f3f3; 
    border-top: 16px solid #22ab92; 
    border-radius: 50%;
    width: 10vw;
    height: 10vw;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}